/*navbar css*/
.navbar {
    border-right: 10px solid #9C0D38;
    position: fixed;
    top: 18%;
    width: fit-content;
    height: fit-content;
    padding: 40px;
    margin-left: 71%;
    box-shadow: 5px 5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1000;
}

.page {
    background-color: #9C0D38;
    border-radius: 10px;
    box-shadow: 3px 3px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
}

.pageTitle {
    color: #F7F7F2;
    font-size: 190%;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 210px;
    text-align: center;
    font-weight: 600;
}


/*taskbox css*/
.dashboard {
    margin-top: 50px;
    margin-left: 50px;
    width: 55%;
    padding-left: 40px;
    padding-right: 40px;

}

.taskContainer {
    margin-top: 50px;
    background-color: #9C0D38;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 500px;
    border: 5px solid #121113;
    overflow-y: auto;
}

.date {
    color: #F7F7F2;
    font-size: 200%;
    letter-spacing: 2px;
    padding-left: 40px;
    text-align: center;
}

.header {
    color: #F7F7F2;
    font-size: 300%;
    letter-spacing: 2px;
    background-color: #121113;
    padding: 20px;
    padding-left: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 10px 10px #9C0D38;
}

/*task css*/

.task {
    background-color: #F7F7F2;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 100%;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #222725;
    display: flex;
    flex-direction: row;
    border: 2px solid #222725;
    justify-content: space-between;
    align-items: center;
}

.taskTitle {
    letter-spacing: 1px;
    font-weight: bolder;
    margin-right: 30px;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.due {
    background-color: #E08DAC;
    font-size: 25px;
    font-weight: 900;
    padding: 10px;
    border: 2px solid #222725;
    border-radius: 8px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    height:fit-content;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
}